/.gitattributes     export-ignore
/.gitignore         export-ignore
/.styleci           export-ignore
/.github            export-ignore

/dist/nova3/css/card.css  binary
/dist/nova3/js/card.js    binary
/dist/nova4/css/card.css  binary
/dist/nova4/js/card.js    binary