/.gitattributes     export-ignore
/.gitignore         export-ignore
/.styleci           export-ignore
/.github            export-ignore
/build              export-ignore

/dist/css/v*.css    binary
/dist/js/card.js    binary